@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#root {
  @apply flex flex-col w-full h-full p-4
}

.loading {
  @apply flex flex-1 justify-center text-center items-center w-full h-full
}
